<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WatchMe v" + WebConstants.Version, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Categories", "Details", "Categories", new { id = "", area = "" }, null)</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Wishlist">Wishlist</a></li>
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Movies", "Index", "Movies", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Reviews", "Index", "Reviews", new { area = "Administration" }, null)</li>
                                    <li>@Html.ActionLink("Actors", "Index", "Actors", new { area = "Administration" }, null)</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @using (Html.BeginForm("", "Search", new { area = "" }, FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search for movies/actors">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <div class="col-md-3 sidebar">
                @RenderSection("sidebar", required: false)
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WatchMe</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>