@model WatchMe.Web.ViewModels.Actors.ActorDetailsViewModel

<div class="movie-wrapper">
    <div class="row">
        <div class="col-md-4">
            <h3>@(Model.FirstName + " " + Model.LastName)</h3>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
            {
                <img src="@Model.ProfileImagePath" />
            }
        </div>
        <div class="col-md-4">
            <p class="firstName"><strong>First name: </strong> @Model.FirstName</p>
            <p class="lastName"><strong>Last name: </strong> @Model.LastName</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="movies">
                <h3>Known for</h3>
                <table class="table table-striped" style="border: 1px solid #dfd7ca">
                    @foreach (var movie in Model.Movies)
                    {
                        <tr class="movie">
                            <td>
                                @if (!string.IsNullOrEmpty(movie.ImagePath))
                                {
                                    <img src="@movie.ImagePath" width="50" />
                                }
                                <strong class="name"><a href="/Movies/Details/@movie.Id">@movie.Title</a></strong>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>